{% extends 'main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
</style>
<div class="room-container">
     <div>
            <h1>Room Details</h1>
            <p>{{ room.name }}</p>
            <p>{{ room.description }}</p>
         <div class ="comment-wrapper">
              <h2>Conversation</h2>
              {% for message in room_messages %}
              <div>
                  <small>@{{ message.user.username }} - {{ message.created|timesince }} days ago</small>
                  <p>{{ message.body }}</p>
              </div>
              {% endfor %}
          </div>
           {% if user.is_authenticated %}
         <div class="post-comment">
            
             <form method="POST">
                 {% csrf_token %}
                <textarea name="body"  placeholder="Write your comment here..."></textarea>
                <button type="submit">Post</button>
             </form>
         </div>
          {% endif %}
     </div>

    <div>
        <h2>Participants</h2>
        <ul>
            {% for participant in room.participants.all %}
                <li>@{{ participant.username }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}